<%- include('../../partial/header.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class="page-location">
            <h1>
                <%- page.main %>
            </h1>
        </div>
    </center>
    <center>
        <div class="section">
            <div class="section-header">
                <div class="section-header-text">
                    <h1>الخوادم الاقتصادية</h1>
                    <h2>تُعد الخوادم الاقتصادية (Budget Servers) خيارًا ممتازًا للأفراد والشركات الصغيرة التي تبحث عن حل استضافة فعّال من حيث التكلفة دون التضحية بالجودة. توفر هذه الخوادم موارد أساسية مثل المعالج، والذاكرة، والتخزين بأسعار تنافسية، مما يجعلها
                        مثالية للمشاريع الناشئة أو المواقع ذات الحركة المنخفضة. تتميز الخوادم الاقتصادية بسهولة الاستخدام والإعداد، مما يسمح للمستخدمين بالتركيز على تطوير أعمالهم دون القلق بشأن التكاليف المرتفعة. على الرغم من أنها ليست مصممة للأحمال الثقيلة،
                        إلا أن الخوادم الاقتصادية توفر استقرارًا وأداءً جيدين للعديد من التطبيقات الأساسية.</h2>

                </div>
                <div class="section-header-icon">

                </div>
            </div>
            <br>
            <div class="section-body basic-servers-section">
            </div>
        </div>
        <script>
            GetPlan("basic", (response) => {
                response.servers.forEach(function(server) {

                    $('.basic-servers-section').append(`
                        <div class="vps-card-skeleton">
                            <div class="vps-card-header-skeleton">
                                <div class="skeleton-icon"></div>
                                <div class="skeleton-title"></div>
                                <div class="skeleton-subtitle"></div>
                            </div>
                            <div class="vps-card-price-skeleton">
                                <div class="skeleton-price"></div>
                                <div class="skeleton-price-info"></div>
                            </div>
                            <div class="vps-card-info-skeleton">
                                <div class="skeleton-info"></div>
                                <div class="skeleton-info"></div>
                                <div class="skeleton-info"></div>
                                <div class="skeleton-info"></div>
                                <div class="skeleton-info"></div>
                            </div>
                            <br>
                            <div class="skeleton-button"></div>
                        </div>
                        <div class="vps-card ${server.style}" style="display: none;">
                            <div class="vps-card-header">
                                <i class="fa-duotone fa-solid fa-server"></i>
                                <h1>${server.title}</h1>
                                <h2>${server.subtitle}</h2>
                            </div>
                            <div class="vps-card-price">
                                <h1>Starting at</h1>
                                <h2>$${server.price}/mo</h2>
                                <h3>SAVE 50% OVER MONTHLY</h3>
                            </div>
                            <div class="vps-card-info">
                                <h1>${server.cpu}</h1>
                                <h1>${server.ram}</h1>
                                <h1>${server.storage}</h1>
                                <h1>${server.traffic}</h1>
                                <h1>${server.ddos}</h1>
                            </div>
                            <br>
                            <a  class="vps-card-button" href="/paygate?plan=${server.id}">اطلب الان</a>
                        </div>
                        `);
                })
            })
        </script>
    </center>
    <%- include('../../partial/footer.ejs') %>