<configuration>
  <system.webServer>
    <!-- Enable detailed error messages without logging -->
        <iisnode
      loggingEnabled="true"
      devErrorsEnabled="false"
      debugHeaderEnabled="true" />

    <!-- Define the handler for IISNode to serve app.js -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite rules to ensure all requests are routed to app.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url="(.*)" />
          <conditions>
            <!-- Prevent files from being served directly -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Security to hide unnecessary segments -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
