<%- include('../partial/header.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">

    <body>

        <!-- Hero Section Begin -->
        <section class="hero-section ">
            <div class="hero__slider owl-carousel ">
                <div class="hero__item set-bg " data-setbg="../home/img/hero/hero-1.jpg">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <div class="hero__text ">
                                    <h5 style="font-family: 'Cairo';">اسعار تبدا من 1.99$ شهريا</h5>
                                    <h2 style="font-family: 'Cairo';">Nova Hosting مرحبا بك, في موقع<br />لدينا افضل الخوادم</h2>
                                    <a href="servers/basic-vps" class="primary-btn ">ابدا الان</a>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="hero__img ">
                                    <img src="../home/img/hero/hero-right.png " alt=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg " data-setbg="../home/img/hero/hero-1.jpg">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <div class="hero__text">
                                    <h5>خدمات سريعة وآمنة</h5>
                                    <h2>احصل على خوادم موثوقة<br /> تناسب احتياجاتك</h2>
                                    <a href="servers/basic-vps" class="primary-btn">ابدأ الآن</a>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="hero__img ">
                                    <img src="../home/img/choose-plan.png" alt=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg " data-setbg="../home/img/hero/hero-1.jpg">
                    <div class="container ">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <div class="hero__text">
                                    <h5>مزايا وخصائص مميزة</h5>
                                    <h2>يمكنك انشاء خادمك بالمواصفات<br /> التي تناسبك</h2>
                                    <a href="servers/custom-vps" class="primary-btn">ابدأ الآن</a>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="hero__img ">
                                    <img src="../home/img/datacenter.png" alt=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->

        <!-- قسم ميزات الاستضافة -->
        <section class="feature-section spad" style="background: #e2e8fe;">
            <div class="container feature-section-container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h3>ميزات الاستضافة لدينا</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="feature__item">
                            <span class="fa fa-cloud-upload"></span>
                            <h5>تحديثات سهلة</h5>
                            <p>نقدم تحديثات بسيطة وسلسة لضمان عمل موقعك بسلاسة دون توقف.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="feature__item">
                            <span class="fa fa-sliders"></span>
                            <h5>برمجيات موثوقة</h5>
                            <p>نستخدم برمجيات بسيطة ومُحسّنة لضمان كفاءة خدماتك.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="feature__item">
                            <span class="fa fa-database"></span>
                            <h5>نسخ احتياطي أسبوعي</h5>
                            <p>نضمن لك نسخًا احتياطية أسبوعية للحفاظ على بياناتك بأمان.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="feature__item">
                            <span class="fa fa-globe"></span>
                            <h5>شبكة سريعة</h5>
                            <p>نضمن لك اتصالاً سريعًا ومستقرًا بأفضل أداء للشبكة، يتيح لعملائك تجربة وفعالة.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="feature__item">
                            <span class="fa fa-shield"></span>
                            <h5>حماية أساسية</h5>
                            <p>نقدم لك حماية موثوقة تحافظ على بياناتك من التهديدات.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="feature__item">
                            <span class="fa fa-headphones"></span>
                            <h5>دعم مجاني</h5>
                            <p>فريق الدعم متواجد لمساعدتك على مدار الساعة وبشكل مجاني.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <img src="../home/img/hero/cl-down.png" alt="" style="width: 100%;">
        <!-- Register Domain Section End -->


        <!-- Footer Section End -->
        <%- include('../partial/footer.ejs') %>
            <!-- Js Plugins -->
    </body>

    </html>