<%- include('../partial/header.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class="page-location">
            <h1>
                <%- page.main %>
            </h1>
        </div>
    </center>
    <center>
        <script src="https://www.google.com/recaptcha/api.js" async defer>
        </script>
        <div class="login-form">
            <div class="login-form-header">
                <div class="login-form-header-text">
                    <h1>تسجيل الدخول</h1>
                    <h2>اذا لم يكن لديك حساب <a href="/register">انشئ حسابك</a> الان</h2>
                </div>
                <div class="login-form-header-icon">
                </div>
            </div>
            <div class="login-inputs">
                <input type="username" placeholder="اسم المستخدم او الايميل" name="username" class="login-username">
                <input type="password" placeholder="الرقم السري" name="password" class="login-password">
            </div>
            <form action="">
                <label class="form-control" style="padding: 10px;">
                  <input type="checkbox" name="checkbox" class="remember_me"/>
                    <h1>تذكرني لاحقا</h1>
                </label>
            </form>
            <div class="login-form-options">
                <a href="/recover">هل نسيت الرقم السري؟</a>
            </div>
            <br>
            <div class="recaptcha">
                <div class="g-recaptcha" data-sitekey="6LcAxFEqAAAAAI3vfwfPFjiORWywhyMb4oP785W-"></div>
            </div>
            <br>
            <div class="login-buttons login-btn">
                <div class="login-button">
                    <div class="login-button-text">
                        <h1>تسجيل</h1>
                    </div>
                    <div class="login-button-icon">
                        <i class="fa-duotone fa-solid fa-file-check"></i>
                    </div>
                </div>
            </div>
            <div class="login-buttons other">
                <h1 class="otherheader">او سجل دخولك عن طريق</h1>
                <div class="login-button login-google">
                    <div class="login-button-text">
                        <h1>قوقل</h1>
                    </div>
                    <div class="login-button-icon">
                        <i class="fa-brands fa-google"></i>
                    </div>
                </div>
                <br>
                <div class="login-button login-discord">
                    <div class="login-button-text">
                        <h1>دسكورد</h1>
                    </div>
                    <div class="login-button-icon">
                        <i class="fa-brands fa-discord"></i>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </center>
    <%- include('../partial/footer.ejs') %>