<%- include('../partial/header.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class="page-location">
            <h1>
                <%- page.main %>
            </h1>
        </div>
    </center>
    <center>
        <div class="login-form">
            <div class="login-form-header">
                <div class="login-form-header-text">
                    <h1>استرجاع كلمة المرور</h1>
                    <h2> الرجوع الى صفحة <a href="/login">تسجيل الدخول</a></h2>
                </div>
                <div class="login-form-header-icon">
                </div>
            </div>
            <div class="login-inputs">
                <input type="text" placeholder="الايميل" name="username" class="rec-email">
            </div>
            <!-- <form action="">
                <label class="form-control" style="padding: 10px;">
                  <input type="checkbox" name="checkbox" />
                    <h1> اوفق على <a href="">سياسات الموقع</a></h1>
                </label>
            </form> -->
            <br>
            <div class="g-recaptcha" data-sitekey="6LcAxFEqAAAAAI3vfwfPFjiORWywhyMb4oP785W-"></div>
            <br>
            <div class="login-buttons">
                <div class="login-button">
                    <div class="login-button-text">
                        <h1>تأكيد</h1>
                    </div>
                    <div class="login-button-icon">
                        <i class="fa-duotone fa-solid fa-file-check"></i>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </center>

    <%- include('../partial/footer.ejs') %>