<!-- Choose Plan Section End -->

<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer Section Begin -->
<footer class="footer-section ">

    <div class="footer__text set-bg " data-setbg="../home/img/footer-bg.png">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="footer__text-about ">
                        <div class="footer__logo ">
                            <a href="./index.html "><img src="../home/img/logo.png " alt=" " style="width: 40px;"></a>
                        </div>
                        <p>موقع خوادم يقدم حلول استضافة متكاملة تناسب احتياجات الأفراد والشركات، مع ضمان الأداء العالي والأمان. يوفر مجموعة متنوعة من الخيارات بأسعار تنافسية لدعم مشاريعك عبر .</p>
                        <div class="footer__social ">
                            <a href="# "><i class="fa fa-twitter "></i></a>
                            <a href="# "><i class="fa-brands fa-discord"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 ">
                    <div class="footer__text-widget ">
                        <h5>روابط</h5>
                        <ul>
                            <li><a href="# ">الرئيسية</a></li>
                            <li><a href="# ">سياسات الموقع</a></li>
                            <li><a href="# ">التواصل</a></li>
                            <li><a href="# ">من نحن؟ </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="footer__text-widget ">
                        <h5>معلومات تواصل</h5>
                        <ul class="footer__widget-info ">
                            <li><span class="fa fa-map-marker "></span>المملكة العربية السعودية</li>
                            <li style="font-family: 'Cairo' !important;"><span class="fa fa-mobile "></span > 125-711-811 | 125-668-886</li>
                                    <li style="font-family: 'Cairo' !important;"><span class="fa fa-headphones "></span> Support.hosting@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__text-copyright ">
                <p>

                    <script>
                        document.write(new Date().getFullYear());
                    </script> جميع الحقوق محفوضة لدى <i class="fa fa-heart " aria-hidden="true "></i> <a href="/" target="_blank " style="font-family: 'Cairo' !important;"> Nova Hosting</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="../home/js/jquery-3.3.1.min.js"></script>
<script src="../home/js/bootstrap.min.js"></script>
<script src="../home/js/jquery.slicknav.js"></script>
<script src="../home/js/owl.carousel.min.js"></script>
<script src="../home/js/home.js"></script>